---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arth Thapa">
  <h1 class="text-5xl font-bold">Arth Thapa</h1>
  <h2 class="text-2xl my-4">
    Started as a means to kill time during COVID2020, turned into career fueled
    by passion.
  </h2>
</Layout>
