---
const { title } = Astro.props;
---

<div
  class="px-4 py-2 bg-white bg-opacity-10 rounded-md border-[1px] dark:border-stone-300 border-neutral-400 flex flex-col justify-center items-center gap-4"
>
  <h1 class="text-3xl font-medium">{title}</h1>
  <slot />
</div>
