---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen h-full flex justify-center bg-black text-white"
    style="font-family: 'DM Sans', sans-serif;"
  >
    <div
      class="relative min-h-screen h-full bg-neutral-900 w-[90%] border-x-[2px] border-stone-800 flex flex-col items-center px-16 py-6 text-left"
    >
      <nav
        class="sticky top-0 flex justify-between w-full border-b-[1px] border-b-neutral-600 pb-4 text-left"
      >
        <img
          src="/profile.jpeg"
          alt="A starry night sky."
          width="64"
          height="64"
          class="rounded-full"
          style="box-shadow: 0 0 1px transparent;"
        />
        <button>Switch Light mode</button>
      </nav>
      <slot />
    </div>
  </body>
</html>
